# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.exp

# python things
.venv
.jupyter
.ipynb_checkpoints
.virtual_documents
__pycache__

# IDEs
.idea
.vs
.vscode
cpp-reference/compile_commands.json

# dataset
data/

build/
.cmake/
cmake-build-debug/